<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
</head>
<body>
<h1>Item List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:text="${userName}">
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.contact_number}"></td>-->
<!--        <td th:text="${user.email_id}"></td>-->
<!--        <td th:text="${user.alternate_email}"></td>-->
<!--        <td th:text="${user.alternate_contact}"></td>-->
    </tr>
</table>
</body>
</html>
